[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "elections.dtree"]
	path = elections.dtree
	url = https://github.com/fleverest/elections.dtree
	shallow = true
	registered = true
[submodule "prefio"]
	path = prefio
	url = https://github.com/fleverest/prefio
	shallow = true
	registered = true
